@charset "utf-8";

noscript {
  border: 1px dashed #854500;
  background-color: #f3f3f3;
  color: #854500;
  padding: 5px;
}
/* CSS Document */
.only-for-screenreader {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
hr {
  border: none;
  border-bottom: 2px solid #854500;
  margin: 15px 0px;
}
td {
	padding: 5px;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
:focus {
  outline: 1px dotted darkgray;
  box-shadow: 0 0 4px 2px gray;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #854500;
	text-decoration: none;
}
#footer a {
  color: #F7F7F7;
}
#footer a:hover, #footer a:focus {
  text-decoration: underline;
}
a:hover, a:focus {
	color: #185D8B;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #DBDBDB;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    font-size: 17px;
    margin: 0;
    background-color:  #185D8B;
    color:  white;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: white;
    font-size: 10.5pt;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: white;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  /* box-sizing: border-box; */
  width: 100%;
  padding: 15px;
  background-color: #185D8B;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0px 10px;
  font-weight: bold;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

@media screen and (max-width: 650px) {
	.filter-options select {
		display: block;
		margin: 10px 0px;
		width: 100%;
	}	
	.filter-options h2 {
		margin: 0;
	}
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 15px 60px;
  text-align: left;
  align-items: center;
  max-width: 1600px;
}
#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  text-align: left;
  display: inline-block;
  padding: 10px;
  border: 1px solid lightgray;
  border-top: 3px solid #185D8B;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h3 {
  color: #854500; /*#f18200;*/
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a,
#restaurants-list li button {
  background-color: #854500;
  border: none;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;
}

/* ====================== Restaurant Details ====================== */
#restaurant-name {
  color: #854500;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  /* max-height: 100px; */
  border-top-left-radius:  30px;
  border-bottom-right-radius:  30px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-hours {
  width:  100%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container {
  background:  white;
  /* border-top: 4px solid #185D8B; */
}

#restaurant-container, #reviews-container {
  width: 100%;
  padding: 20px 40px;
  overflow: hidden;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container .reviews-section-title {
  color: #854500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width:  100%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
.review {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.review .review-title {
  background: #444;
  padding: 14px 15px;
}
.review .review-content {	
  padding: 10px 15px;
}
.review .review-reviewer {
  color: white;
  font-weight: normal;
  display: inline-block;
  margin:  0;
  font-size: 15px;
}
.review-rating {
  background-color:#854500;
  color:white;
  padding: 0.2em 0.9em;
  margin: 0.5em 0em;
  border-radius: 4px;
  font-weight:bold;
  display: inline-block;
  text-transform: uppercase;
  border: none;
}

.review-date {
  float: right;
  color: lightgray;
}

@media screen and (min-width: 769px) { 
	.restaurant-info-left {
		width: 50%;
		display: inline;
		float: left;
	}
	.restaurant-info-left::after,
	.restaurant-info-left::before, {
		display: table;
    	content: " ";
	}

	.restaurant-info-right {
		display:inline-block;
		width: 50%;
		padding: 0px 20px;
	}
}

@media screen and (max-width: 669px) { 
	#restaurants-list li {
		margin: 15px 0px;
		width: 100%;
	}
	#restaurants-list li .restaurant-details-btn { 
		width: 100%;
	}
}

@media screen and (min-width: 670px) and (max-width: 991px) { 
	#restaurants-list li {
		width: calc(100% / 2 - 30px);
	}
}

@media screen and (min-width: 992px) and (max-width: 1449px) { 
	#restaurants-list li {
		width: calc(100% / 3 - 30px);
	}
}

@media screen and (min-width: 1450px) { 
	#restaurants-list li {
		width: calc(100% / 4 - 30px);
	}
}

input[type="text"], textarea {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  border: 1px solid rgb(133, 69, 0);
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: vertical;
  height: 80px;
}

/** ---------- STAR RATING ------------ */
input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}

input[type="radio"]:focus::before {
  outline: 1px dotted darkgray;
  box-shadow: 0 0 4px 2px gray;
}

input[type="radio"] {
  cursor: pointer;
  width: 0;
  margin: 5px 10px;
  font-size: 0px;
}

input[type="radio"]::before {
  color: white;
  cursor: pointer;
  content: "★";
  width: 20px;
  font-size: 24px;
  top: -12px;
  left: -8px;
  position: relative;
  visibility: visible;
}

input[type="radio"]:checked ~ input::before {
  content: "☆";
}


button.btn-default {
  display: inline-block;
  background-color: #854500;
  color: #fff;
  font-size: 10pt;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
button.btn-default:hover {
  opacity: 0.75;
}

#reviews-writer .reviews-writer-content {
  background: white;
  padding: 10px 15px;
}

#reviews-writer .reviews-writer-title {
  background: #444;
  padding: 14px 15px;
  color: white;
}

#reviews-writer .reviews-writer-title h4 {
  margin: 0px;
}

#reviews-writer {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;  
  overflow: hidden;
  margin: 20px 0px;
}

.btn-submit {
  margin: 5px 0;
  float: right;
}

@media screen and (max-width: 669px) { 
  button.btn-default {
    display: block;
    width: 100%;
    float: none;
  }
}

.alert-msg {
  position: fixed;
  bottom: 25px;
  left: -100%;
  padding: 20px 30px;
  font-size: 14px;
  background: #444;
  border-radius: 3px;
  color: white;
  z-index: 2000;
  max-width: 500px;
}

.alert-msg.show {
  transition: 1s ease-in-out left;
  left: 30px;
}

.alert-msg.hide {
  transition: 0.5s ease-in-out left;
  left: -100%;
}
.show-map-btn {
  background: white;
  border: none;
  padding: 15px;
}